# трекаем только файлы мода (релиз), остальная игра не для гитхаба
/*
!/.gitignore
!/README.md
!/var
/var/*
!/var/unit.var
!/var/unit_upg.var
!/var/spell.var
!/var/item.var
!/var/inner_build.var
!/var/site.var
!/var/guard.var
!/var/guard_type.var
!/var/dialog.var
!/Text
/Text/*
!/Text/unit.txt
!/Text/item.txt
!/Text/Spell.txt
!/Text/Site.txt
!/Text/Site1.txt
!/Text/Inner_Build.txt
!/dat
/dat/*
!/dat/Units.dat
!/dat/Unit_icons.dat
!/dat/Unit_picts.dat
!/dat/Unit_shadow.dat
!/dat/Unit_shadowf.dat
!/dat/Items.dat
!/dat/Site.dat
!/dat/Illustration.dat

!/var/ability_num.var
!/Text/ability.txt
!/dat/Ability.dat
